altair
annotated-types
anyio
astor
asttokens
attrs
backcall
beautifulsoup4
bleach
blinker
branca
cachetools
certifi
charset-normalizer
click
colorama
comm
contourpy
cycler
debugpy
decorator
defusedxml
distro
docopt
duckdb
executing
Faker
fastjsonschema
folium
fonttools
geopandas
gitdb
GitPython
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
googleapis-common-protos
greenlet
grpcio
grpcio-status
h11
httpcore
httplib2
httpx
idna
ipykernel
ipython
jedi
Jinja2
jiter
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
jupyterlab_pygments
kaleido
kiwisolver
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
mistune
narwhals
nbclient
nbconvert
nbformat
nest-asyncio
numpy
openai
packaging
pandas
pandasai
pandocfilters
parso
patsy
pickleshare
pillow
pipreqs
platformdirs
plotly
prompt_toolkit
proto-plus
protobuf
psutil
pure_eval
pyarrow
pyasn1
pyasn1_modules
pydantic
pydantic_core
pydeck
Pygments
PyMySQL
pyogrio
pyparsing
pyproj
python-dateutil
python-dotenv
pytz
PyYAML
pyzmq
referencing
requests
rich
rpds-py
rsa
scipy
seaborn
shapely
six
smmap
sniffio
soupsieve
SQLAlchemy
sqlglot
sqlglotrs
stack-data
statsmodels
streamlit
streamlit_folium
tenacity
tinycss2
toml
tornado
tqdm
traitlets
typing_extensions
tzdata
uritemplate
urllib3
watchdog
wcwidth
webencodings
xyzservices
yarg
